In [208]:
# Simple dataframe
import os
import pandas as pd
# import time
from datetime import date

df = pd.read_csv("https://data.heatonresearch.com/data/t81-558/datasets/series-31.csv")
#print(df[0:1])
#headers = list(df.columns.values)

col_datetime = df['time']
col_date_only = []
col_time_only = []

for xxx in col_datetime:
    dt = datetime.strptime(xxx, "%m-%d-%Y %H:%M")
    col_date_only.append(dt.date())
    col_time_only.append(dt.time())

# get unique dates
u_date = np.unique(col_date_only)


# make new df with date only and time only fields
df2 = df.copy()
df2["date_only"] = col_date_only
df2["time_only"] = col_time_only

In [262]:
#setup stats based each unique date
vstats = []

for x in u_date:
    

    df3 = df2.loc[df2['date_only']==x]
    
    #sort on time
    df4 = df3.sort_values(by='time_only')
    
    x1 = list(df4['value'])
    vstats.append({
        'date' : x,
        'starting': x1[0],
        'max': df4['value'].max(),
        'min': df4['value'].min(),
        'ending': x1[-1]
    })
    

    
df5 = pd.DataFrame(vstats)
display(df5)

          date   starting        max        min     ending
0   2019-08-19  17.573522  18.468835  17.573522  18.468835
1   2019-08-20  19.496609  19.848830  19.496609  19.848830
2   2019-08-21  20.033917  20.033917  19.920997  19.920997
3   2019-08-22  19.393700  19.393700  18.893590  18.893590
4   2019-08-23  17.784213  17.784213  16.974865  16.974865
5   2019-08-26   9.717627   9.717627   8.814028   8.814028
6   2019-08-27   7.630234   7.630234   7.175677   7.175677
7   2019-08-28   6.940731   7.091136   6.940731   7.091136
8   2019-08-29   7.677676   8.150454   7.677676   8.150454
9   2019-08-30   8.989132   9.441207   8.989132   9.441207
10  2019-09-02   8.562631   8.562631   7.862781   7.862781
11  2019-09-03   6.466720   6.466720   5.518901   5.518901
12  2019-09-04   3.806679   3.806679   2.796339   2.796339
13  2019-09-05   1.372897   1.372897   0.803337   0.803337
14  2019-09-06   0.566174   0.975155   0.566174   0.975155
15  2019-09-09  17.609837  20.964092  17.609837  20.964092
16  2019-09-10  26.269719  29.067541  26.269719  29.067541
17  2019-09-11  32.779998  34.399895  32.779998  34.399895
18  2019-09-12  36.168036  36.697054  36.168036  36.697054
19  2019-09-13  36.763634  36.763634  36.347701  36.347701
20  2019-09-16  26.346598  26.346598  24.406477  24.406477
21  2019-09-17  21.203472  21.203472  19.385784  19.385784
22  2019-09-18  16.659006  16.659006  15.288665  15.288665
23  2019-09-19  13.581243  13.581243  12.983163  12.983163
24  2019-09-20  12.838227  13.337320  12.838227  13.337320

In [272]:
#df4['value']
vstats

[{'date': datetime.date(2019, 8, 19),
  'starting': 17.573522079229537,
  'max': 18.468834970992386,
  'min': 17.573522079229537,
  'ending': 18.468834970992386},
 {'date': datetime.date(2019, 8, 20),
  'starting': 19.49660944792229,
  'max': 19.848830441312515,
  'min': 19.49660944792229,
  'ending': 19.848830441312515},
 {'date': datetime.date(2019, 8, 21),
  'starting': 20.033916902534923,
  'max': 20.033916902534923,
  'min': 19.9209970740617,
  'ending': 19.9209970740617},
 {'date': datetime.date(2019, 8, 22),
  'starting': 19.393699638194,
  'max': 19.393699638194,
  'min': 18.89359006436655,
  'ending': 18.89359006436655},
 {'date': datetime.date(2019, 8, 23),
  'starting': 17.784212850026158,
  'max': 17.784212850026158,
  'min': 16.974864607353663,
  'ending': 16.974864607353663},
 {'date': datetime.date(2019, 8, 26),
  'starting': 9.717627061050036,
  'max': 9.717627061050036,
  'min': 8.814028245360191,
  'ending': 8.814028245360191},
 {'date': datetime.date(2019, 8, 27),
  'starting': 7.630234064635083,
  'max': 7.630234064635083,
  'min': 7.175677235919579,
  'ending': 7.175677235919579},
 {'date': datetime.date(2019, 8, 28),
  'starting': 6.940731369840084,
  'max': 7.0911361408131794,
  'min': 6.940731369840084,
  'ending': 7.0911361408131794},
 {'date': datetime.date(2019, 8, 29),
  'starting': 7.677676329369429,
  'max': 8.150454498897982,
  'min': 7.677676329369429,
  'ending': 8.150454498897982},
 {'date': datetime.date(2019, 8, 30),
  'starting': 8.989132358976784,
  'max': 9.44120684127208,
  'min': 8.989132358976784,
  'ending': 9.44120684127208},
 {'date': datetime.date(2019, 9, 2),
  'starting': 8.562630645475991,
  'max': 8.562630645475991,
  'min': 7.862780918926809,
  'ending': 7.862780918926809},
 {'date': datetime.date(2019, 9, 3),
  'starting': 6.4667199356636615,
  'max': 6.4667199356636615,
  'min': 5.518901097791543,
  'ending': 5.518901097791543},
 {'date': datetime.date(2019, 9, 4),
  'starting': 3.8066794041696665,
  'max': 3.8066794041696665,
  'min': 2.7963389132011094,
  'ending': 2.7963389132011094},
 {'date': datetime.date(2019, 9, 5),
  'starting': 1.3728966898303183,
  'max': 1.3728966898303183,
  'min': 0.8033366652589536,
  'ending': 0.8033366652589536},
 {'date': datetime.date(2019, 9, 6),
  'starting': 0.5661736717099681,
  'max': 0.9751550561552976,
  'min': 0.5661736717099681,
  'ending': 0.9751550561552976},
 {'date': datetime.date(2019, 9, 9),
  'starting': 17.609837282903868,
  'max': 20.96409192920088,
  'min': 17.609837282903868,
  'ending': 20.96409192920088},
 {'date': datetime.date(2019, 9, 10),
  'starting': 26.269719398326988,
  'max': 29.067540742796126,
  'min': 26.269719398326988,
  'ending': 29.067540742796126},
 {'date': datetime.date(2019, 9, 11),
  'starting': 32.77999831480969,
  'max': 34.39989542708721,
  'min': 32.77999831480969,
  'ending': 34.39989542708721},
 {'date': datetime.date(2019, 9, 12),
  'starting': 36.1680364864309,
  'max': 36.69705405765853,
  'min': 36.1680364864309,
  'ending': 36.69705405765853},
 {'date': datetime.date(2019, 9, 13),
  'starting': 36.76363393048433,
  'max': 36.76363393048433,
  'min': 36.34770089951401,
  'ending': 36.34770089951401},
 {'date': datetime.date(2019, 9, 16),
  'starting': 26.34659804892787,
  'max': 26.34659804892787,
  'min': 24.406477045295162,
  'ending': 24.406477045295162},
 {'date': datetime.date(2019, 9, 17),
  'starting': 21.203471983733962,
  'max': 21.203471983733962,
  'min': 19.3857844605187,
  'ending': 19.3857844605187},
 {'date': datetime.date(2019, 9, 18),
  'starting': 16.6590058753798,
  'max': 16.6590058753798,
  'min': 15.288665273060387,
  'ending': 15.288665273060387},
 {'date': datetime.date(2019, 9, 19),
  'starting': 13.581243052787292,
  'max': 13.581243052787292,
  'min': 12.983162811842119,
  'ending': 12.983162811842119},
 {'date': datetime.date(2019, 9, 20),
  'starting': 12.838226844878307,
  'max': 13.337320405785745,
  'min': 12.838226844878307,
  'ending': 13.337320405785745}]

In [181]:
#import numpy as np
#tt = np.array(col_date_only, col_time_only)
#df2.T
dates = pd.date_range('20130101', periods=6)
#dates
df2.dtypes

time      object
value    float64
dtype: object

In [207]:
df3 = df2.reindex(index=df2["date_only"],columns=list(df2.columns))
df3

           time  value date_only time_only
date_only
2019-08-22  NaN    NaN       NaN       NaN
2019-09-19  NaN    NaN       NaN       NaN
2019-08-26  NaN    NaN       NaN       NaN
2019-08-19  NaN    NaN       NaN       NaN
2019-09-05  NaN    NaN       NaN       NaN
...         ...    ...       ...       ...
2019-09-09  NaN    NaN       NaN       NaN
2019-09-09  NaN    NaN       NaN       NaN
2019-09-18  NaN    NaN       NaN       NaN
2019-09-19  NaN    NaN       NaN       NaN
2019-09-06  NaN    NaN       NaN       NaN

[13500 rows x 4 columns]