In [22]:
#  Assignemnt 3 from Jeff Heaton's 2020 "T81-558: Applications of Deep Neural Networks"
# v1

# Simple dataframe
import os
import pandas as pd
import numpy as np

# import datetime utilities
from datetime import datetime

# read input file from web
df = pd.read_csv("https://data.heatonresearch.com/data/t81-558/datasets/series-31.csv")

#df['time'] = pd.to_datetime(df['time'], errors='coerce')


# Parse cvs date and time into python datetime
col_datetime = df['time']
col_date_only = []
col_time_only = []

for xxx in col_datetime:
    dt = datetime.strptime(xxx, "%m-%d-%Y %H:%M")
    col_date_only.append(dt.date())
    col_time_only.append(dt.time())

# make new df with date only and time only fields
df2 = df.copy()
df2["date_only"] = col_date_only
df2["time_only"] = col_time_only

# Make list of unique dates
u_date = np.unique(col_date_only)



#setup stats based each unique date
vstats = []

for x in u_date:
    

    df3 = df2.loc[df2['date_only']==x]
    
    #sort on time
    df4 = df3.sort_values(by='time_only')

    # build stats
    x1 = list(df4['value'])
    vstats.append({
        'date' : x,
        'starting': x1[0],
        'max': df4['value'].max(),
        'min': df4['value'].min(),
        'ending': x1[-1]
    })
    
# Build new data frame with stats
df5 = pd.DataFrame(vstats)
display(df5)

          date   starting        max        min     ending
0   2019-08-19  17.573522  18.468835  17.573522  18.468835
1   2019-08-20  19.496609  19.848830  19.496609  19.848830
2   2019-08-21  20.033917  20.033917  19.920997  19.920997
3   2019-08-22  19.393700  19.393700  18.893590  18.893590
4   2019-08-23  17.784213  17.784213  16.974865  16.974865
5   2019-08-26   9.717627   9.717627   8.814028   8.814028
6   2019-08-27   7.630234   7.630234   7.175677   7.175677
7   2019-08-28   6.940731   7.091136   6.940731   7.091136
8   2019-08-29   7.677676   8.150454   7.677676   8.150454
9   2019-08-30   8.989132   9.441207   8.989132   9.441207
10  2019-09-02   8.562631   8.562631   7.862781   7.862781
11  2019-09-03   6.466720   6.466720   5.518901   5.518901
12  2019-09-04   3.806679   3.806679   2.796339   2.796339
13  2019-09-05   1.372897   1.372897   0.803337   0.803337
14  2019-09-06   0.566174   0.975155   0.566174   0.975155
15  2019-09-09  17.609837  20.964092  17.609837  20.964092
16  2019-09-10  26.269719  29.067541  26.269719  29.067541
17  2019-09-11  32.779998  34.399895  32.779998  34.399895
18  2019-09-12  36.168036  36.697054  36.168036  36.697054
19  2019-09-13  36.763634  36.763634  36.347701  36.347701
20  2019-09-16  26.346598  26.346598  24.406477  24.406477
21  2019-09-17  21.203472  21.203472  19.385784  19.385784
22  2019-09-18  16.659006  16.659006  15.288665  15.288665
23  2019-09-19  13.581243  13.581243  12.983163  12.983163
24  2019-09-20  12.838227  13.337320  12.838227  13.337320

In [26]:
#  Assignemnt 3 from Jeff Heaton's 2020 "T81-558: Applications of Deep Neural Networks"
# v1

# Simple dataframe
import os
import pandas as pd
import numpy as np

# import datetime utilities
from datetime import datetime

# read input file from web
df = pd.read_csv("https://data.heatonresearch.com/data/t81-558/datasets/series-31.csv")

df['time'] = pd.to_datetime(df['time'], errors='coerce')

In [44]:
#dd = datetime.date(
df['time']


#u_date = np.unique(df['time'].date())
#u_date
dd

array(['2019-08-22T12:51:00.000000000', '2019-09-19T09:44:00.000000000',
       '2019-08-26T14:05:00.000000000', ...,
       '2019-09-18T14:16:00.000000000', '2019-09-19T16:16:00.000000000',
       '2019-09-06T10:13:00.000000000'], dtype='datetime64[ns]')

In [ ]:
# Parse cvs date and time into python datetime
col_datetime = df['time']
col_date_only = []
col_time_only = []

for xxx in col_datetime:
    dt = datetime.strptime(xxx, "%m-%d-%Y %H:%M")
    col_date_only.append(dt.date())
    col_time_only.append(dt.time())

# make new df with date only and time only fields
df2 = df.copy()
df2["date_only"] = col_date_only
df2["time_only"] = col_time_only

# Make list of unique dates
u_date = np.unique(col_date_only)



#setup stats based each unique date
vstats = []

for x in u_date:
    

    df3 = df2.loc[df2['date_only']==x]
    
    #sort on time
    df4 = df3.sort_values(by='time_only')

    # build stats
    x1 = list(df4['value'])
    vstats.append({
        'date' : x,
        'starting': x1[0],
        'max': df4['value'].max(),
        'min': df4['value'].min(),
        'ending': x1[-1]
    })
    
# Build new data frame with stats
df5 = pd.DataFrame(vstats)
display(df5)